html, body {
    margine: 0;
    padding: 0;
    background-color: black;
    font-family: 'karla', sans-serif;
    color:  white;
}

:root {
    --font-family: 'Karla', sans-serif;
    --body-bg:#1E1F25;
    --btn-bg: #000;
    --btn-color: #cbcbcb;
    --btn-color-hover: #fff;
    --grad-color1: #fb9062
    --grad-color2: #eeaf62
    --grad-color3: #ee5d6c
    --grad-color4: #ce4993
    --grad-color5: #6a0d83

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.button-border {
    background: linear-gradient(120deg,#eeaf61, #fb9062, #ee5d6c, #ce4993, #6a0d83);
    background: linear-gradient(120deg,#eeaf61, #fb9062, #ee5d6c, #ce4993, #6a0d83);
    padding: 3px;
}
.button {
    bodder: none;
    background: var(--btn-bg);
    color: var(--bnt-color);
    padding: 1em 1.5em;
    font-family: inherit;
    letter-spacing: .1em;
    /* border-image: linear-gradient(120deg,#eeaf61, #fb9062, #ee5d6c, #ce4993, #6a0d83);
    border-image-slice: 1; */
}
.button-border:hover {
    background:  linear-gradient(200deg,#eeaf61, #fb9062, #ee5d6c, #ce4993, #6a0d83);
}
.button-border:hover .button{
    color: var(--btn-color-hover);
    padding: 1.1em 1.6em;
}
