body {
    margin: 0;
    padding: 0;
    background: gray;
    color: #c9d1d9;
    font-family: var(--font-main);
}
:root {
    --font-main: 'Noto Sans', sans-serif;
    --main-bg:#000;
    --profile-bg:#252729;
    --profile-color: #c9d1d9;
    --profile-img-border: #2e343b;
    --username-font-color: #8b949e;
    --usernmae-font-weight: 400;
    --btn-bg: #21262d;
    --btn-color: #c9d1d9;
    --btn-bg-hover: blue;
    --btn-border: #373b43;
    --btn-border-hover: #8c949e;
}
.profile-container {
    width: 80%;
    min-width: 250px;
    max-width: 350px;
    margin: 1em auto;
    background: var(--profile-bg);
}
.profile-content {
    padding: 1em 2em;
}
.profile-content img {
    width: 300px;;
    height: 300px;
    border-radius: 50%;
}
.profile-details h2,
.profile-details h3 {
    margin: 0;
}
.profile-details h3 {
    font-size: 1em;
    color: var(--username-font-color);
    font-weight: var(--usernmae-font-weight);
}
.profile-detail button {
    width: 100%;
    background-color: var(--btn-bg) ;
    color: var(--btn-color);
    border: 1px solid var(--btn-border);
    border-radius: 6px;
    padding: .25em 0;
    font-family: inherit;
}
.profile-details button:hover {
    background: var(--btn-bg-hover);
    border-color: var(--btn-border-hover);

}