*{
    margin: 0px;
    padding: 0px;

}
.main{
    width: 100%;
    background: url(pic/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    padding: 10px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: 3%;
    margin-left: -2%;

}
ul{
    margin-top: -4%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 12px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: gray;
    margin: -3%;
    transition: .4s ease;
}
ul li a:hover{
    color: aliceblue;
}
.info h1{
    font-size: 65px;
    color: #f1d6e3;
}
.info h3{
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 25px;
}
.info span{
    color: black;
}
.info a{
    text-decoration: none;
    color: def;
    background: rgb(36,32,30);
    margin: 26 0px;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}
.info a:hover{
    background: skyblue;
}
.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;

}
.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;
}

.image:hover .boy{
    left: 55%;
}