html, body{
    background: #f0f0f0;
    display: flex;
    justify-content: left;
    align-items: center;
}
.triangle {
    position: relative;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 300px solid #003893;
}

.triangle::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 300px solid red;
    transform: scale(0.8);
    top: 15px;
    left: -5px;
}

.moon {
    position: absolute;
    top: 173px;
    left: 80px;
    width: 80px;
    height: 80px;
    rotate:45deg;
    background: red;
    border-radius: 50%;
    box-shadow: 10px 10px 0 0 white;
}
.sun {
    position: absolute;
    top: 470px;
    left: 67px;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    
}