:root {
    --blue: blue;
    --white: white;
    --red: red;
    --flag-height: 150px;
}
html, body {
    margin: 0;
    padding: 0;
    background: black;
}
.flag-france {
    height: var(--flag-height);
    width: calc(var(--flag-height) * 3/2);
    margin: 3em auto;
    display: flex;
    /* (grid,fr=fraction) */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
}
/* (flex) */
.stripe {
    flex-grow: 1; */
}
.red {
    background: var(--red);
}
.white {
    background: var(--white);
}
.blue {
    background: var(--blue);
}