:root {
    --black:black;
    --red: red;
    --yellow: yellow;
    --flag-height:200px;
}
html, body {
    margin: 0;
    padding: 0;
}
.flag {
    height: var(--flag-height);
    width: calc(var(--flag-height) * 5/3);
    margin: 3em auto;
    display: grid;
}
.black {
        background: var(--black);
    }
    .red {
        background: var(--red);
    }
    .yellow{
        background: var(--yellow);
    }
