*{
margin: 1px;
padding: 1px;
box-sizing: border-box;
}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background: skyblue;
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: green;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: gray;
    text-decoration:none ;
}
nav li a:hover{
    color: black;
    transition: all 0.4s ease 0s;
}
.content-items img{
    width: 100%;
    height: 100%;
    background-position:center;
    background-size: center;
}